$primaryColor: #fdfad8;
$secondaryColor: rgb(168, 214, 162);
$cardBgColor: rgb(252, 230, 230);

$tablet: 600px;
$computer: 900px;

@mixin respond($breakPoint) {
  @if $breakPoint == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  }
  @else if $breakPoint == computer {
    @media (min-width: $computer) {
      @content;
    }
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height:100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("./images/Namnlös\ design.png");

  font-family:'Gabriola';
  font-size: 2rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header {
  position: sticky;
  top:0;
  padding: 1rem;
  background: linear-gradient(to right, $primaryColor, $secondaryColor);
}

main {
  padding-left: 1rem;
  padding-right: 1rem;
  flex:1;
}

.navBarList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navBarListItem {
  line-height: 1.6rem;
}

.navBarListItem a:hover {
  color: rgb(90, 185, 119);
}

.navBarListItem a {
  text-decoration: none;
  line-height: 0.4;
  color: #333;
}

.rubrik {
  text-align: center;
  margin: 1rem 0;
  background-color: white;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    // padding: 0 1rem 0 1rem;
    list-style-type: none;
}

.section1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section1 div {
  background: $cardBgColor;
  flex: 0 1 350px;
  min-width: 300px;
  padding: 1rem;
}

.aboutHero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutImg {
  margin: 2rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 60px rgba(128, 184, 121, 0.65);
}

footer {
  text-align: center;
  padding: 1rem;
  background: linear-gradient(to right, $primaryColor, $secondaryColor);
}

.gallery-container {
  padding: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: $cardBgColor;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

.h1Rubrik {
    font-size: 2rem;
    background-color: white;
}

.cardText {
  font-size:medium;
}

p {
  background-color: white;
  text-align: center;
}

.realP {
  line-height: 2rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 30px rgba(128, 184, 121, 0.45);
}

// Tablets >= 600px
@include respond(tablet) {
  .navBarList {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .section1 {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

// Computers >= 900px
@include respond(computer) {
  main {
    max-width: 1000px;
    margin: auto;
  }

  .section1 div {
    flex: 1;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-container {
    max-width: 1000px;
    margin: auto;
  }
}